<!DOCTYPE html>
<html>
<head>
  <title>Contacts</title> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class="container-narrow">
  <div class="masthead">
    <%= render 'layouts/user_header' %>
    <h3 class="muted"><%= link_to "GPM", root_path %></h3>
    <h5 class="muted">Devise</h5>
  </div>
  <hr />
  <%= yield %>

<%= render 'devise/shared/logout' %>

</body>
</html>
